.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  button:hover {
    background: blueviolet;
    color: white;
    transition: 0.3s;
    border: 2px solid blueviolet;
    outline: none;
  }
}

input:focus {
  outline: none;
  border: 2px solid blueviolet;
}

.user-info {
  background: rgb(225, 225, 225);
  width: 50%;
  padding: 30px;
  margin: 20px auto;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .user-info {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .user-info {
    width: 96%;
  }
}
